@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
.home-grid {
    display: grid ;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;   
    align-items: center ; 
    gap: 2px;
}
.carrousel {
    padding-bottom: 15px;
  
} 

#root {
    display: flex;
    flex-direction: column;
}

#root > main {
    flex: 1;
}
html, body, #root {
  height: 100%;
}
body {
    background-color: rgb(207, 207, 207);
}
.carrousel-img1 {
    object-fit: fill;
}
.cardservices {
    margin-left: auto;
    margin-right: auto;
}
